/* COLORS */
:root {
	--red: hsl(1, 90%, 64%);
	--blue: hsl(219, 85%, 26%);
	--white: hsl(0, 0%, 100%);
	--bg: hsl(210, 60%, 98%);
	--Light-grayish-blue-1: hsl(211, 68%, 94%);
	--Light-grayish-blue-2: hsl(205, 33%, 90%);
	--Grayish-blue: hsl(219, 14%, 63%);
	--Dark-grayish-blue: hsl(219, 12%, 42%);
	--Very-dark-blue: hsl(224, 21%, 14%);
	--p-size: 15px;
}

/* Box sizing rules */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/*--MY SECTION--*/
body {
	position: relative;
	overflow-y: hidden;
}

section {
	width: 100%;
	height: calc(100vh - 15px);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--bg);
}

.container {
	width: 45rem;
	background-color: var(--white);
	border-radius: 30px;
	padding: 2rem;
}

header {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-family: 'Plus Jakarta Sans', sans-serif;
}

header .col {
	position: relative;
	width: 50%;
	top: 0;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.col.first {
	left: 0;
	font-size: 1.5em;
	font-weight: 800;
}

.col.second {
	right: 0;
	justify-content: flex-end;
	cursor: pointer;
	color: var(--Grayish-blue);
	font-size: 18px;
}

#notifications-number {
	background-color: var(--blue);
	color: var(--white);
	width: 30px;
	height: 25px;
	border-radius: 5px;
	margin-left: 5px;
	font-size: .8em;
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Plus Jakarta Sans', sans-serif;
}

main .box {
	display: flex;
	justify-content: space-around;
	position: relative;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px 12px;
	border-radius: 10px;
}

.box.active {
	background-color: var(--Light-grayish-blue-1);
}

.box .image {
	position: relative;
	top: 0;
	left: 0;
	max-width: 50px;
	max-height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.box .desc {
	position: relative;
	width: 88%;
	font-size: 16px;
	font-weight: 500;
	color: var(--grayish-blue);
}

.box.active .desc .row:first-child {
	width: 100%;
	position: relative;
}
.box.active .desc .row .ball {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
	height: 10px;
	transform: translateY(-50%);
	background-color: var(--red);
	border-radius: 50%;
	margin-left: 5px;
}

.box .desc .username {
	font-size: 18px;
	font-weight: 700;
	margin-right: 5px;
	color: #000;
}

.box .desc b {
	margin-left: 5px;
	color: var(--Dark-grayish-blue);
}

.box .chess {
	color: var(--blue) !important;
}

.box .row:last-child {
	color: var(--Dark-grayish-blue);
}

.box .msgHolder {
	border: 1px solid var(--Light-grayish-blue-2);
	padding: 20px;
	margin: 10px 0 0 10px;
	border-radius: 5px;
	color: var(--Dark-grayish-blue);
}

.box .img {
	max-width: 50px;
	max-height: 50px;
	border-radius: 5px;
	position: absolute;
	right: 10%;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

#btn {
	transition: background 250ms ease;
	padding: 5px;
	border-radius: 5px;
}

#btn:hover {
	background-color: var(--Light-grayish-blue-1);
}

@media (max-width: 714px) {
	.container {
		width: 100%;
		height: 100%;
		border-radius: 0;
	}

	.box:first-child.active .desc .row .ball {
		top: 70%;
		transform: translateY(-50%);
	}
}
